<div class="container mt-5">
  <div class="row bg-white p-5">
    <div class="col-md-10 offset-md-1 border border-dark">
      <hr class="bg-dark" />
      <hr class="bg-dark" />
      <h3>Types of Drinks</h3>
      <ul class="list-group border border-dark">
        <li *ngFor="let drink of drinks" class="list-group-item">
          {{ drink }}
        </li>
      </ul>
      <hr class="bg-dark" />
      <hr class="bg-dark" />
      <h3>Common House Items</h3>
      <ul class="list-group">
        <li *ngFor="let houseItem of houseItems" class="list-group-item">
          {{ houseItem }}
        </li>
      </ul>
      <hr class="bg-dark" />
      <hr class="bg-dark" />
      <h3>Fun Outdoor Activities</h3>
      <ul class="list-group">
        <li *ngFor="let activity of outdoorActivities" class="list-group-item">
          {{ activity }}
        </li>
      </ul>
      <hr class="bg-dark" />
      <hr class="bg-dark" />
      <h3>Things in a Pencil Case</h3>
      <ul class="list-group">
        <li *ngFor="let item of pencilCaseItems" class="list-group-item">
          {{ item }}
        </li>
      </ul>
      <hr class="bg-dark" />
      <hr class="bg-dark" />
      <h3>Random Objects On The Table</h3>
      <ul class="list-group">
        <li *ngFor="let item of randomObjects" class="list-group-item">
          {{ item }}
        </li>
      </ul>
      <hr class="bg-dark" />
      <hr class="bg-dark" />
    </div>
  </div>
</div>
